<div class="container mt-10">
  <div class="">
    <div class="row">
      <div class="card-columns center">
        <div class="card " style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Success</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text text-success">
              Your Order Has Been completed Successfully.
            </p>
            <a href="#" class="card-link">Back to Shopping</a>
            <a href="#" class="card-link">Another link</a>
            <div class="card-footer text-warning">Cash On Delivery</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
