<nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class ="navbar-brand navbar-logo" href="#">FeedYourBuds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavbargation">
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/body"><span class="fa fa-home fa-lg"></span><!--<ion-icon name="home-outline"></ion-icon>-->Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" href="../register/register.component.html"><!--<ion-icon name="create-outline"></ion-icon>-->Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cards" href="../cards/cards.component.html"><!--<ion-icon name="cart-outline"></ion-icon>-->Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" href="../aboutus/aboutus.component.html"><!--<ion-icon name="people-circle-outline"></ion-icon>-->Aboutus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" href="../contactus/contactus.component.html"><!--<ion-icon name="call-outline"></ion-icon>-->Contactus</a>
        </li>

      </ul>

    </div>
  </nav>