<body>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>We provides best produts.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Udkar Prohit</h2>
          <p>If any queries please contact any one of the members.your feedback is one forward to success.</p>
          <p>udkarprohit@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column"> 
      <div class="card">
        <div class="container">
          <h2>Naveen</h2>
          <p>if any queries please contact any one of the members.your feedback is one forward to success.</p>
          <p>naveenkumar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Nikhil</h2>
          <p>if any queries please contact any one of the members.your feedback is one forward to success.</p>
          <p>motorolanikhilsai@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</body>