<div class="container">
  <div class="mt-1" *ngIf="products">
    <div class="row">
      <div
        class="col-md-3 sizing justify-content-center align-items-center"
        *ngFor="let product of products"
      >
        <div class="card" [routerLink]="['/item',selectedCat, product.id, ]">
          <img
            class="card-img-top"
            src="{{ url + product.image }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }} {{ product.rate }}</h5>
            <p class="card-text">{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper" *ngFor="let product of products">
                     <div class="card" [routerLink]="['/item', product.id]">
                    <img src="{{ url + product.image}}" alt="" class="img-thumbnail">
                    <div class="content">
                      <div class="row">
                        <div class="details">
                          <span>{{ product.name}}</span>
                          <p>{{ product.description}}</p>
                        </div>
                        <div class="price">{{ product.rate }}</div>
                      </div>
                      <div class="buttons">
                        <button>Buy Now</button>
                        <button class="cart-btn">Add to Cart</button>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="wrapper row" *ngFor="let product of products">
            <div class="card" [routerLink]="['/item', product.id]">
              <img src="{{ url + product.image}}" alt="" class="img-thumbnail">
              <div class="content">
                <div class="row">
                  <div class="details">
                    <span>{{ product.name}}</span>
                    <p>{{ product.description}}</p>
                  </div>
                  <div class="price">{{ product.rate }}</div>
                </div>
                <div class="buttons">
                  <button>Buy Now</button>
                  <button class="cart-btn">Add to Cart</button>
                </div>
              </div>
            </div>
            </div>
-->
<!--<div class="card art border->0 transform-on-hover ">
                    <a class="lightbox" href="#" [routerLink]="['/item', product.id]"><img height="200px" width="300px"
                            src="{{ url + product.image}}" alt="Responsive image" class="img-thumbnail"></a>

                    <div class="content">
                        <div class="row">
                            <div class="details">
                                <span>{{ product.name}}</span>
                                <p>{{ product.description}}</p>
                            </div>
                            <div class="price">{{ product.rate }}</div>
                        </div>
                    </div>
                </div>-->
