<body>
    <div class="container">
        <div class="title">Registration</div>
        <form novalidate #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
    
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">First Name</span>
                </div>
                    <div class="input-box">
                        <input class="form-control" type="text" placeholder="Enter your first name" name="firstname" ngModel required>
                        <div class="invalid-feedback">
                            Please choose a username.
                          </div>
                    </div>
            </div>
            <div class=" row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Last Name</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text"  placeholder="Enter your last name" name="lastname" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Phone No</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text"  placeholder="Enter your phone no" name="phoneno" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Email</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text"  placeholder="Enter your email" name="emailid" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Password</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text"  placeholder="Enter your password" name="password" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Confirm Password</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text"  placeholder="Enter your confirm password" name="confirmpassword" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">User Name</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text" placeholder="Enter your username" name="username" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Address</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text" placeholder="Enter your address" name="address" ngModel required>
                </div>
            </div>
            <div class="row user-details justify-content-center">
                <div class="col-md-5">
                    <span class="details">Zipcode</span>
                </div>
                <div class="input-box">
                    <input class="form-control" type="text" placeholder="Enter your zipcode" name="zipcode" ngModel required>
                </div>
            </div><!--
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-tilte">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                    </label>
                </div>
            </div>-->
            <div class="login_link">
                Are You a member? <a href="#" >Login</a>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
    </body>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
    </script>